/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require fancybox
 *= require_tree .
 */

@import "bootswatch/cerulean/variables";

@import "bootstrap";

body { 
	padding: 60px;
	background-image: image-url("gridbg.gif");
}

.navbar {
	margin-top: -20px;
}

.nav {
	font-size: 17px;
	font-weight: bold;
}
.container {
	padding: 20px;
    background-color: #efefff;
    border-radius: 7px;
    box-shadow: 0 0 10px #000000;
}

@import "bootstrap-responsive";

@import "bootswatch/cerulean/bootswatch";

.title {
	text-decoration: underline;
	font-weight:bold;
	font-size: 15px;
}