// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.search-query {
  width:20em !important
}
#welcome {
	background-color: #dfeeee;;
	color: #113310;
	font-size: 20px;
	font-family: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
}
strong,i {
	color: #1122ee;
}