<div class="span12">
<div class="row-fluid"> 
  <div id="filter">
    <%= render "filter" %>
  </div>
  <div class="span3 offset2">
  </br>
    <%= image_tag "anim.gif" %>
  </div>
</div>
</div>

<div class="services-margin">
<h3 class="span6">Услуги</h3>
<div class="row-fluid">
  <div class="span12">
    <div class="row-fluid">
      <div class="span2"></div>
      <div class="span8">
        <div id="companies">
          <%= render 'companies' %>
        </div>
      </div>
    </div>
  </div>
</div>
</div>